@import '../styles.scss';

// Home Image
#bg-img {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: -1;
	opacity: 0.9;
}

.hidden { display: none; }

.top-layer {
	position: fixed;
	margin-top: 10px;
	margin-left: 10px;
	z-index: 2;
}

.row {
	z-index: 1;
	@include all-height;
}

.col { @include all-height; }
